@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    background: #a04dff;
    
}
body{
    background-image: url(wallhaven-2yx5og_1366x768.png);
}
#navbar .navbar-brand {
    font-size: 25px;
    font-weight: 800;
    color: #f70000 !important;
  
  }
  
  
  
  #navbarSupportedContent a {
    color: #fff;
    border-bottom: 2px solid transparent;
  
  }
  
  #navbarSupportedContent a:hover {
    border-bottom: 2px solid #f700f7;
  }
  #about{
    background-color: grey;
  }

  #about h1{
    font-weight: 800;
    font-size: 50px;
    color: #fff;
  }
  #about p{
    color: #fff;
   font-style: italic;
  }
  .footer{
    padding: 56px;
  }